.header {
background-color: teal;
    line-height: 40px;
    color: tan;
}
body {
    text-align: center;
    color: teal;
    background-color: whitesmoke;
}

h3 {
    font-family: monospace;
    font-size: 50px;
}
h3:hover {
    color: teal;
}


